__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
mlops/artifacts/
logs/
*.onnx
*.pt
.idea/
.cache/
.turbo/
node_modules/
mlops/data/
tooling/configs/*.yaml
!tooling/configs/*.yaml.example
!tooling/configs/gateway.compose.yaml
services/inference-api/.venv/
services/gateway/gateway.exe
clients/orchard-console/node_modules/
clients/orchard-console/.nuxt/
clients/orchard-console/.output/
clients/orchard-console/dist/
clients/orchard-console/.nuxtrc
